# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# Environment secrets
.env

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
lib/firebase_options.dart

# Android
android/**/gradlew
android/**/gradlew.bat
android/local.properties
android/**/generated/
android/**/gradle-wrapper.jar
android/**/gradle-wrapper.properties
android/.gradle/
android/captures/
android/app/build/
android/build/

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GoogleService-Info.plist

# Firebase Emulator data
# Exclude the folder where you export your local test users/Firestore data
emulator_data/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Firebase configuration that might contain local paths
.firebase/
.firebaserc